version: '2'

services:

  darts-client-{{branch_num}}:
    image: "darts-registry.asynchrony.com/darts-client-release-{{branch_num}}:latest"
    restart: always
    ports:
        - "{{client_port}}:8080"
    networks:
      darts-app-net-{{branch_num}}:
        aliases:
          - darts-client
    container_name: "darts-client-{{branch_num}}"
    depends_on:
      - darts-server-{{branch_num}}

  darts-server-{{branch_num}}:
    image: "darts-registry.asynchrony.com/darts-server-release-{{branch_num}}:latest"
    restart: always
    environment:
          DATABASE_HOST: "darts-db"
          DATABASE_PORT: "1521"
          SERVER_URL: "{{server_url}}"
          SERVER_PORT: "{{server_port}}"
    ports:
        - "{{server_port}}:5001"
    networks:
      darts-app-net-{{branch_num}}:
        aliases:
        - darts-server
    container_name: "darts-server-{{branch_num}}"
    depends_on:
      - darts-db-{{branch_num}}

  darts-db-{{branch_num}}:
    image: "darts-registry.asynchrony.com/oracle-xe-11g"
    restart: always
    ports:
      - "{{db_port}}:1521"
    networks:
      darts-app-net-{{branch_num}}:
        aliases:
          - darts-db
    container_name: "darts-db-{{branch_num}}"

networks:
  darts-app-net-{{branch_num}}:
