#preso,
.slide {
    font-family: 'Open Sans', sans-serif;
}

.slide {
    background-size: contain;
}

.content {
    top: 0;
    position: static;
    transform: none;
    -webkit-transform: none;
    margin: 5px 0px 0px 0px;
}

.content ol,
.content ul {
    font-size: 1.00em;
    text-align: left;
}

.content ol ol,
.content ul ul,
.content ol ul,
.content ul ol
{
   font-size: 100%;
}

.default-content > p {
    font-size: 1.5rem;
    margin: 1rem;
}

.holder {
    display: none;
}

.slide.tpl-splash {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.slide.tpl-splash .content {
    display: inline-flex;
    align-self: center;
}

.slide.tpl-splash h1, .slide.tpl-splash h2 {
    font-style: italic;
    margin: 0;
}

.slide.tpl-splash h1 {
    font-size: 5rem;
    line-height: 5rem;
    text-transform: uppercase;
    font-weight: bolder;
}

.slide.tpl-splash h1:before {
    background-image: url('./images/triple-slash.png');
    background-size: contain;
    display: inline-block;
    width: 151px;
    height: 58px;
    content: "";
}

.slide.tpl-splash .splash-subtitle-wrapper {
    display: flex;
    align-items: center;
}

.slide.tpl-splash .splash-subtitle-wrapper .splash-bar {
    height: 2px;
    width: 50%;
    flex: 3;
    content: "";
}

.slide.tpl-splash .splash-subtitle-wrapper h2 {
    display: inline-flex;
    font-size: 1.25rem;
    font-weight: 600;
    flex: none;
    margin-left: 1rem;
}

.slide.tpl-single-image .single-image-header,
.slide.tpl-double-image .double-image-header,
.slide.tpl-default .default-header {
    padding-left: 1rem;
    margin-bottom: .5rem;
}

.slide.tpl-single-image h1,
.slide.tpl-single-image h2,
.slide.tpl-double-image h1,
.slide.tpl-double-image h2,
.slide.tpl-default h1,
.slide.tpl-default h2 {
    margin: 0;
    text-align: left;
    font-weight: lighter;
}

.slide.tpl-single-image h1,
.slide.tpl-double-image h1,
.slide.tpl-default h1{
    font-size: 3rem;
}

.slide.tpl-single-image h2,
.slide.tpl-double-image h2,
.slide.tpl-default h2{
    font-size: 1.5rem;
    margin: .5rem 0;
}

.slide.tpl-single-image .single-image-wrapper {
    text-align: center;
    margin-top: 2.5rem;
}

.slide.tpl-single-image .single-image-wrapper img {
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 40%;
    border: 2rem solid rgba(003, 101, 192, 0.16);
}

.slide.tpl-double-image .double-image-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}


.slide.tpl-double-image .double-image-wrapper .img-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-count-1  .img-holder {
    max-height: calc(20% - 16px);
    max-width: 80%;
}

.image-count-1 img {
    max-width: calc(100% - 2rem);
    max-height: calc(100% - 2rem);
}

.image-count-2  .img-holder {
    max-height: calc(50% - 16px);
    max-width: 47.5%;
}

.image-count-2 img {
    max-width: calc(100% - 2rem);
    max-height: calc(100% - 2rem);
}

.slide.tpl-slash-emphasis .content {
    height: 100%;
}

.slide.tpl-slash-emphasis .slash-emphasis-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.slide.tpl-slash-emphasis .slash-wrapper {
    background-size: contain;
    background: url('./images/triple-slash.png') center no-repeat;
    width: 100%;
    height: 58px;
    content: "";
}

.slide.tpl-slash-emphasis .content p,
.slide.tpl-slash-emphasis .content h1 {
    margin: 1.5rem 0;
}

.slide.tpl-slash-emphasis .content h1 {
    font-weight: bold;
}

.slide.tpl-slash-emphasis .content p {
    font-size: 3em;
    margin-top: 3rem;
    text-align: center;
}

.slide.tpl-chapter-title .content {
    height: 96%;
}

.slide.tpl-chapter-title .chapter-title-content {
    display: flex;
    align-items: center;
    height: 100%;
    background-size: cover;
}

.slide.tpl-chapter-title .title-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 525px;
    height: 525px;
    border: 3pt solid #2197FF;
    border-radius: 50%;
    margin-left: 5rem;
    opacity: 1;
}

.slide.tpl-chapter-title  .slash-wrapper {
    background-size: contain;
    background: url('./images/triple-slash.png') center no-repeat;
    width: 100%;
    height: 58px;
    content: "";
}

.slide.tpl-chapter-title  h1,
.slide.tpl-chapter-title  h2,
.slide.tpl-chapter-title  hr {
    margin: 1.5rem 0;
}

.slide.tpl-chapter-title  h1 {
    font-size: 4rem;
    line-height: 4rem;
}

.slide.tpl-chapter-title  h2 {
    font-size: 2rem;
}

.slide.tpl-chapter-title p {
    margin: 0 1rem;
    text-align: center;
}

.slide.tpl-chapter-title  hr {
    align-self: center;
    margin-bottom: 0;
    border: none;
    border-top: 2pt dotted #2197FF;
    /*color:#fff;
 background-color:#fff;*/
 height:2px;
 width:10%;
}
