.content {
    color: #000;
}

.slide.tpl-splash h1, .slide.tpl-splash h2 {
    color: #36436F;
}

.slide.tpl-splash .splash-subtitle-wrapper .splash-bar {
    background: #36436F;
}

.slide.tpl-single-image .single-image-header,
.slide.tpl-double-image .double-image-header,
.slide.tpl-default .default-header{
    border-bottom: .75pt solid #a6aaa9;
}

.slide.tpl-chapter-title .title-wrapper {
    background-color: rgba(255,255,255,0.8);
}

.img-holder {
    background: rgba(003, 101, 192, 0.16);
}
