.slide.tpl-splash {
    background-image: url('./splash-bg.png');
}

.slide.tpl-single-image,
.slide.tpl-double-image,
.slide.tpl-default {
    background-image: url('./default-bg.png');
}

.slide.tpl-slash-emphasis {
    background-image: url('./wwt-logo-watermark-bg.png');
}

.slide.tpl-chapter-title {
    background-image: url('./bottom-bars.png');
}
