<div class="single-image-content" data-template="single-image">
    <div class="single-image-header">
    </div>
    <div class="single-image-wrapper">
    </div>
</div>
<div class="holder">
~~~CONTENT~~~
