<div class="splash-content" data-template="splash">
    <div class="splash-title">
        <div class="splash-subtitle-wrapper">
            <span class="splash-bar"></span>
        </div>
    </div>
</div>
<div class="holder">
~~~CONTENT~~~
